@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

.customers-love {
  background-color: #f5f5f5;
  background: rgb(5, 77, 125);
  background: radial-gradient(
    circle,
    rgba(5, 77, 125, 1) 18%,
    rgba(2, 0, 36, 1) 67%
  );
  color: white;
  padding: 3% 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 90vh;
}

.customers-love h1 {
  font-size: 2.675rem;
  font-weight: 700;
  margin-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  line-height: 1.8;
}

.customers-love h4 {
  font-size: 1.55rem;
  font-weight: 400;
  margin-bottom: 5%;
  font-family: 'League Spartan', sans-serif;
  letter-spacing: 0.3px;
  line-height: auto;
}

@media screen and (max-width: 768px) {
  .customers-love h1 {
    font-size: 2rem;
  }
  .customers-love h4 {
    font-size: 1.2rem;
  }
}