.products-services {
  padding: 7% 0% 0 7%;
  margin-bottom: 5%;
}

.products-services-title {
  border-left: solid black 3px;
  padding-left: 5%;
}

.products-services-boxs {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.products-services-box1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 0 5%;
}

.products-services-box1 h5 {
  font-size: 1.3rem;
  margin-bottom: 2%;
  font-weight: 700;
}

.products-services-box2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-bottom: -5%;
}

.products-services-box1-title {
  font-size: 3.2rem;
  font-weight: 350;
  margin-bottom: 2%;
}

.products-services-box1-p {
  font-size: 1.1rem;
  text-align: justify;
}

.products-services-btn-box {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.products-services-btn {
  background-color: white;
  border: solid black 1px;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 1% 5%;
  width: 10rem;
}

.products-services-btn:hover {
  background-color: black;
}

.products-services-btn:hover .products-services-btn-link {
  color: white;
}

.products-services-btn-2 {
  background-color: white;
  border: solid black 1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1% 2%;
  width: 3.5rem;
}

.products-services-btn-link {
  text-decoration: none;
  color: black;
}
