@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

.WeImproving {
  padding: 5% 7%;
  background-color: #f1d2cf;
  display: flex;
}

.WeImprovingBox1,
.WeImprovingBox2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.WeImprovingBox1SubBox {
  padding: 5%;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-weight: 300;
  font-size: 1rem;
  width: 80%;
  padding-bottom: 10rem;
}

.WeImprovingBox1SubBox h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 7% 0%;
}

.WeImprovingBox1SubBox span {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 1.663rem;
  font-weight: 400;
  line-height: 1.8;
  font-size: 1.1rem;
}

.WeImprovingBox1SubBox2 {
  border-left: 2px solid rgb(154, 148, 148);
  padding: 0% 7%;
}

.WeImprovingBox1SubBox2 p{
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.3px;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: auto;
}

.WeImprovingBox1SubBox2SubBox {
  border-left: 3px solid rgb(255, 255, 255);
  margin-left: -8.5%;
  padding-left: 7%;
}

.WeImprovingBox1SubBox2SubBox h2{
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.3px;
  font-size: 1.663rem;
  font-weight: 400;
  line-height: 1.8;
}


.WeImprovingBox2 img {
  width: 100%;
  height: 37rem;
}

@media screen and (max-width: 768px) {
  .WeImproving {
    flex-direction: column;
  }

  .WeImprovingBox1,
  .WeImprovingBox2 {
    width: 100%;
  }

  .WeImprovingBox1SubBox {
    padding-bottom: 3rem;
    width: 100%;
  }

  .WeImprovingBox2 img {
    height: 20rem;
  }
  
}