.navbar {
  width: 100%;
  z-index: 10;
  position: fixed !important;
  background: rgba(255, 255, 255, 0);
} 

.nav-right-side {
  display: flex;
  align-items: center;
  position: relative;
  left: 5%;
  gap: 2rem;
}

.nav-links {
  text-decoration: none;
  color: white;
}

.nav-links.active {
  color: #b5b2b2 !important;
}

.pumping-nav-dropdown {
  margin-left: 12%;
}

/* Updated styles for the dropdown menu */
.dropdown-menu {
  border-radius: 0;
  border: none;
  padding: 1rem;
}

#basic-nav-dropdown{
  color: white;
}

.dropdown-item {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.dropdown-item.active{
  background-color: white !important;
  color: #b5b2b2 !important;
}

.dropdown-item:hover {
  background-color: #797676 !important;
  color: white !important;
}

@media screen and (max-width: 768px) {
  .navbar{
    background-color: white !important;
    padding: 1% 0% !important;
    z-index: 1000 !important;
  }
  .nav-links{
    color: black !important;
  }
  #basic-nav-dropdown{
    color: black;
  }
  .nav-right-side {
    left: 0%;
  }
  .pumping-nav-dropdown {
    margin-left: 0%;
  }
  .navbar-nav {
    padding: 5% 0% !important;
  }
  .dropdown-menu {
    padding: 0.5rem;
  }
  .dropdown-item {
    padding: 0.5rem 0rem;
  }
}
